/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* basis style  */
body{
    font-family: 'Poppins', sans-serif;
    background-color:#F3F1FF;
}
hr{
    border: 1px solid #d1d1d1;
    margin-bottom: 27px;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    background-color: #ffffff;
    width: 870px;
    padding: 30px;
    border-radius: 5px;
    margin-top: 21px;
}


/* top player and blogs */
.top-players{
    margin-bottom: 30px;
}
.section-title{
    color: #562EFF;
    font-size: 24px;
    margin-top: 3px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap:30px;
}
.player img{
    width: 56px;
    height: 56px;
}
.player{
    display: flex;
    align-items: center;

    
}
.player-name{
    margin-left: 16px;
    font-size: 18px;
}

/* top blog styles */
.blogs{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap:26px;
}
.blog{
    display: flex;
}

.thumbnail img{
    width: 177px;
    height: 127px;
}
.blog-info{
    margin-left: 16px;
}
.blog-title{
    font-size: 20px;
}
.blog-author{
    font-size: 16px;
    color: #9f9f9f;
}
.blog-author a{
    text-decoration: none;
    font-size: 16px;
    color: #562eff;
}
/* courses styles ritht now here  */
.courses{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
}
.course .course-banner img{
    width: 224px;
    height: 104px;


}
.course-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fas{
    font-size: 12px;
}
.fas.filled{
    color: #FFC014;
}
/* media query */

/* mobile device */
@media only screen and(max-width:688px) {
    .players{
        background-color:aqua;
    }
    
}